@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
    .btn {
        @apply hover:cursor-pointer px-6 py-2 inline-flex justify-center rounded-lg text-sm font-semibold
            disabled:opacity-50 disabled:cursor-not-allowed;
    }

    .btn-primary {
        @apply bg-sky-600 hover:bg-sky-500 text-slate-200 hover:text-slate-50;
    }

    .btn-secondary {
        @apply bg-slate-500 hover:bg-slate-600 text-slate-200;
    }

    .input {
        @apply bg-slate-500 w-full px-2 py-1 rounded-sm outline-none
            read-only:text-slate-400 read-only:bg-slate-700;
    }

    .modal-right {
        @apply fixed z-10 top-0 right-0 bottom-0 
            translate-x-[calc(100%+10px)] transition-transform duration-500
            bg-slate-900 opacity-90 shadow-lg shadow-sky-500
            left-0 md:left-auto md:w-[500px];
    }
}

.dark {
    color-scheme: dark;
}

.asc-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.gem-first::before {
    content: '\a0';
    width: 0.5rem;
    display: inline-block;
    height: 0.75rem;
    margin-left: 0.5rem;
    background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 90deg, currentColor 0) 0px 0.69rem;
    transform: scaleY(-1) translateY(-0.69rem);
}

.gem-middle::before {
    content: '\a0';
    width: 0.5rem;
    display: inline-block;
    margin-left: 0.5rem;
    background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 90deg, currentColor 0) 0px 0.69rem;
}

.gem-last::before {
    content: '\a0';
    width: 0.5rem;
    display: inline-block;
    height: 0.75rem;
    margin-left: 0.5rem;
    background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 90deg, currentColor 0) 0px 0.69rem;
}

.inventory {
    --col-size: 4rem;

    display: grid;

    margin: 10px 30px;

    grid-template-columns: repeat(8, var(--col-size));
    grid-template-rows: repeat(8, var(--col-size));
    grid-gap: 0.5rem;
    grid-template-areas:
        "Weapon  Weapon .       Helm       Helm       .      Offhand Offhand"
        "Weapon  Weapon .       Helm       Helm       .      Offhand Offhand"
        "Weapon  Weapon .       BodyArmour BodyArmour Amulet Offhand Offhand"
        "Weapon  Weapon RingL   BodyArmour BodyArmour RingR  Offhand Offhand"
        ".       Gloves Gloves  BodyArmour BodyArmour Boots  Boots   ."
        ".       Gloves Gloves  Belt       Belt       Boots  Boots   ."
        "Trinket Flask0 Flask1  Flask2     Flask3     Flask4 Flask5  ."
        ".       Flask0 Flask1  Flask2     Flask3     Flask4 Flask5  .";
    justify-content: center;
}

.item {
    background-position: center, center;
    background-repeat: no-repeat;
    background-color: rgba(25, 26, 150, 0.25);
    border: 1px solid orange;
    border-radius: 1px;
}

.weapon1 {
    grid-area: Weapon;
}
.helmet {
    grid-area: Helm;
}
.amulet {
    grid-area: Amulet;
}
.weapon2 {
    grid-area: Offhand;
}
.ring1 {
    grid-area: RingL;
}
.body_armour {
    grid-area: BodyArmour;
}
.ring2 {
    grid-area: RingR;
}
.gloves {
    grid-area: Gloves;
}
.belt {
    grid-area: Belt;
}
.boots {
    grid-area: Boots;
}
.flask1 {
    grid-area: Flask0;
}
.flask2 {
    grid-area: Flask1;
}
.flask3 {
    grid-area: Flask2;
}
.flask4 {
    grid-area: Flask3;
}
.flask5 {
    grid-area: Flask4;
}
