@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.dark {
    color-scheme: dark;
}

.gem-first::before {
    content: '\a0';
    width: 0.5rem;
    display: inline-block;
    height: 0.75rem;
    margin-left: 0.5rem;
    background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 90deg, currentColor 0) 0px 0.69rem;
    transform: scaleY(-1) translateY(-0.69rem);
}

.gem-middle::before {
    content: '\a0';
    width: 0.5rem;
    display: inline-block;
    margin-left: 0.5rem;
    background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 90deg, currentColor 0) 0px 0.69rem;
}

.gem-last::before {
    content: '\a0';
    width: 0.5rem;
    display: inline-block;
    height: 0.75rem;
    margin-left: 0.5rem;
    background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 90deg, currentColor 0) 0px 0.69rem;
}
